@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  font-family: "Inter", sans-serif;
  /* colors */
  --kelly-green: rgb(167, 233, 143);
  --mantis: #83bd4cff;
  --isabelline: #8b8b8b;
  --red-cmyk: #e92020ff;
  --brandeis-blue: rgb(21, 108, 247);
  --night: #f4f5f5;
  background-color: rgb(243, 243, 243);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 20px;
  margin-bottom: 6rem;
}

.task-list {
  /* list-style-type: none; */
  padding: 0;
  width: 100%;
}

.task-card {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 1px rgba(169, 169, 169, 0.5);
  margin: 1rem 2rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 150px;
}
.task-card h3 {
  text-transform: capitalize;
}

.task-card p {
  color: rgb(137, 142, 152);
}

#text-white {
  color: black;
}

.task-right {
  display: flex;
  align-items: center;
}

.bg-green {
  transition: all 0.4s ease-in-out;
  background-color: var(--kelly-green);
}

.not-complete {
  transition: all 0.4s ease-in-out;
  background-color: rgb(244, 203, 143);
}

.blue {
  color: var(--brandeis-blue);
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  margin-left: 1rem;
}

.buttons button {
  margin-left: 1rem;
  margin: 2px 0px;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  font-family: "Inter", sans-serif;
  color: white;
  display: flex;
  align-items: center;
}

.buttons .editIcon {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.editButton:hover .editIcon {
  animation: beat 1s ease-in-out infinite;
}

.editButton {
  box-shadow: 0px 2px 2px 1px var(--brandeis-blue);
}

.deleteButton {
  box-shadow: 0px 2px 2px 1px var(--red-cmyk);
}

.addTaskButton {
  display: flex;
  align-items: center;
}

.addIcon {
  transition: transform 0.3s cubic-bezier(0.28, 0.84, 0.42, 1);
  transform: scale(1.1);
  margin-right: 20px;
}

.addTaskButton:hover .addIcon {
  animation: beat 1s ease-in-out infinite;
}

@keyframes beat {
  0%,
  90% {
    transform: scale(1.1);
  }

  45% {
    transform: scale(1.4);
  }
}

.buttons .deleteIcon {
  transition: transform 0.3s cubic-bezier(0.28, 0.84, 0.42, 1);
  transform: scale(1.05);
}

.deleteButton:hover .deleteIcon {
  animation: bounce 1s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-7px);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-5px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.buttons button p {
  padding: 4px 5px;
  margin: 0;
  font-size: 1rem;
  color: white;
}

.buttons button:first-child {
  background-color: var(--brandeis-blue);
}

.buttons button:last-child {
  background-color: var(--red-cmyk);
}

.task-modal {
  border: 1px solid black;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  overflow: auto;
  padding: 0px 0px 30px 0px;
  background-color: var(--night);
}

.task-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.task-modal-content label {
  display: flex;
  align-items: center;
}

.task-modal-content input,
.task-modal-content textarea {
  margin: 0.5rem 2rem;
  font-family: "Inter", sans-serif;
}

.button-container {
  display: flex;
  margin-top: 1rem;
}

.button-container button {
  margin: 0px 2rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: bold;
}

.save-btn {
  background-color: var(--brandeis-blue);
}

.cancel-btn {
  background-color: var(--red-cmyk);
}

.add-task-container {
  position: fixed;
  bottom: 20px;
}
.add-task-container button {
  border: none;
  border-radius: 3rem;
  padding: 1rem 10rem;
  box-shadow: 0px 2px 2px 1px var(--isabelline);
  background-color: var(--brandeis-blue);
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.4rem;
}
